
articoli-web-service-JWT_V2/.attach_pid5961

articoli-web-service-JWT_V2/.classpath

articoli-web-service-JWT_V2/.factorypath

articoli-web-service-JWT_V2/.project

articoli-web-service-JWT_V2/.settings/org.eclipse.core.resources.prefs

articoli-web-service-JWT_V2/.settings/org.eclipse.jdt.apt.core.prefs

articoli-web-service-JWT_V2/.settings/org.eclipse.jdt.core.prefs

articoli-web-service-JWT_V2/.settings/org.eclipse.m2e.core.prefs

articoli-web-service-JWT_V2/.settings/org.springframework.ide.eclipse.prefs

articoli-web-service-JWT_V2/target/
